/* 여행 구성원 확정 */

.member-confirm {
  position: relative;
  width: 390px;
  height: 844px;
  background: var(--neutral-0);
  overflow: hidden;
}

.member-confirm__header {
  position: absolute;
  top: 0;
  left: 0;
}

.member-confirm__title {
  position: absolute;
  top: 54px;
  left: 0;
}
