/* 일정 이름 입력 */

.trip-name {
  position: relative;
  width: 390px;
  height: 844px;
  background: var(--neutral-0);
  overflow: hidden;
}

.trip-name__header {
  position: absolute;
  top: 0;
  left: 0;
}

.trip-name__body {
  position: absolute;
  top: 54px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 390px;
}

.trip-name__title {
  height: 55px;
}

.trip-name__field {
  width: 350px;
}
