/* 화면 제목 */

.title-l {
  display: flex;
  align-items: center;
  width: 390px;
  padding: 12px 24px;
}

.title-l__text {
  margin: 0;
  flex-shrink: 0;
  font-family: Pretendard, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.22px;
  color: var(--neutral-900);
  word-break: break-word;
}
