/* 확인 모달 */

.modal-dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 844px;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  top: 282px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  height: 196px;
  padding: 20px 0;
  border-radius: 20px;
  background: var(--neutral-0);
  overflow: hidden;
}

.modal__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.modal__title-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

.modal__title {
  margin: 0;
  flex-shrink: 0;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: var(--neutral-900);
  white-space: nowrap;
}

.modal__desc-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

.modal__desc {
  margin: 0;
  flex-shrink: 0;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.28px;
  color: var(--neutral-500);
  white-space: nowrap;
}

.modal__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 308px;
}

.modal__actions .btn {
  width: 150px;
}

.modal__actions .btn--outline {
  color: var(--neutral-700);
}
