/* 화면 부제 */

.subtitle {
  display: flex;
  align-items: center;
  width: 390px;
  padding: 12px 24px;
}

.subtitle__text {
  margin: 0;
  flex-shrink: 0;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.28px;
  color: var(--neutral-700);
  word-break: break-word;
}
