/* 화면 하단 알림 */

.snackbar {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 54px;
  padding: 15px 16px;
  border-radius: 10px;
  background: var(--neutral-800);
}

.snackbar__icon {
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.snackbar__text {
  margin: 0;
  flex-shrink: 0;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.14px;
  color: var(--neutral-0);
  font-feature-settings: "dlig" 1, "lnum" 1, "pnum" 1;
  white-space: nowrap;
  word-break: break-word;
}
