@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "./styles/variables.css";

* {
  box-sizing: border-box;
}

:root {
  font-family: Pretendard, sans-serif;
  color: var(--neutral-900);
  background: var(--neutral-0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: var(--neutral-0);
}

button,
input {
  font-family: Pretendard, sans-serif;
}

button {
  cursor: pointer;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
